body {
    background-color: rgb(48, 48, 48);
    position: relative;
    height: 100vh;

}

.container-sheet {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    transform: translateY(0%);
    transition: all .5s linear;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.container-sheet {
    transform: translateY(85%);
    transition: all .5s linear;
}

.header-sheet {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-sheet img {
    width: 3rem;
}